


html {
	font-family: sans-serif;
	margin: 0px;

}

body {
	margin: 0px;
	background-color: #232424;



	/*background-image: url('images/Rust.jpg');*/
	
	/*background-repeat: no-repeat;*/
	

	font-family: sans-serif;

}

.welcome {
	margin-top: 40px;
	margin-left: 470px;
	margin-bottom: -20px;
}

	
.comein {
	margin-left: 660px;
	margin-top: 80px;
	background-color: white;
	padding: 10px;
	width: 7%;
	text-align: center;
	border-radius: 7px;
	
}

.comein a {
	text-decoration: none;
}

.comeinimg {
	margin-left: 650px;
}

.scroll {
	margin-left: 620px;
	margin-top: -70px;
}

.worklinks {
	margin-top: 30px;
	margin-bottom: 300px;
}

.worklinks li {
	list-style-type: none;
	margin-top: -220px;
}

.worklinks li a {
	list-style-type: none;
	display: inline;
	margin-left: 50px;

}


.top_nav {
	
	list-style-type: none;
	font-size: 17px;
	margin-left: 485px;
}


.top_nav ul{
	display: inline;

}
.top_nav li{
	float: left;
	
	
}

a.backtotop {
	color: white;
	display: inline;
	width: 70px;
	height: 60px;
	position: fixed;
	bottom: 20px;
	right: 40px;
	background: white url('images/scrollupimage.png')no-repeat center 38%;
	border-radius: 10px;
	text-indent: -9999px;
}

a:hover:backtotop {
	background-color: black;
}


a:active {
	color: blue;
	text-decoration: underline;
}

.top_nav a {
	
	padding: 15px;
	display: inline-block;
	margin-top: 150px;
	text-decoration: none;
	color: whitesmoke;
	border-radius: 7px;
}

/* .sect {
	height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.sectONE {
  background-image: url('../images/Gorge_BW.png');
}

.sectTWO {
  background-image: url('./images/Lake_BW.png');
}

.sectTHREE {
    background-image: url('images/Lake_BW.png');
}

.sectFOUR {
    background-image: url('./images/Philippines 1_BW.png');
}

.subsection {
 height: 40%;
  background-color: bisque;
} */

.baracross {
	background-color: #0D0908;
	width: 100%;

	height: 250px;
	margin-top: -115px;
	
}


a.active {
	color: blue;
	background-color: bisque;
}

a:hover {
	color: darkgoldenrod;
	
}



.logos {
	font-family: sans-serif;
	/*background-color: #3B3D3A;*/
/* 	width: 80%; */
	margin-left: 30px;
	border-radius: 10px;
	padding-bottom: -20px;
	
}

.logos h6 {
	margin-left: 55px;
	padding: 10;
	margin-top: -20px;
	text-decoration: underline;
	padding-top: 10px;
	font-size: 17px;
	color: white;
	
}

.logos ul{
	list-style-type: none;
	padding-top: 0px;

}

.logos li{
	display: inline;
	padding: 5px;
	
		
}


.logo1 {
	box-shadow: 5px 5px 5px black;
	border-radius: 5px;
}

.logo2 {
	box-shadow: 5px 5px 5px black;
	border-radius: 5px;
}

.logo3 {
	box-shadow: 5px 5px 5px black;
	border-radius: 5px;
}

.logo4 {
	box-shadow: 5px 5px 5px black;
	border-radius: 5px;
}

.logo5 {
	box-shadow: 5px 5px 5px black;
	border-radius: 15px;
	margin-top: 50px;
}


.book_covers {
	font-family: sans-serif;
	/*background-color: #3B3D3A;*/
/* 	width: 80%; */
	margin-left: 30px;
	border-radius: 10px;
	padding-bottom: -20px;
	
}

.book_covers h6 {
	margin-left: 55px;
	padding: 10;
	margin-top: -20px;
	text-decoration: underline;
	padding-top: 10px;
	font-size: 17px;
	color: white;
}

.book_covers ul{
	list-style-type: none;
	padding-top: 20px;

}

.book_covers li{
	display: inline;
	padding: 15px;
		
}


.bc1 {
	box-shadow: 5px 5px 5px black;
	border-radius: 5px;
}

.bc2{
	box-shadow: 5px 5px 5px black;
	border-radius: 5px;
}

.bc3 {
	box-shadow: 5px 5px 5px black;
	border-radius: 5px;
}


.posters {
	font-family: sans-serif;
	/*background-color: #3B3D3A;*/
/* 	width: 80%; */
	margin-left: 30px;
	border-radius: 10px;
	padding-bottom: -10px;
	
}

.posters h6 {
	margin-left: 55px;
	padding: 10;
	margin-top: -20px;
	text-decoration: underline;
	padding-top: 10px;
	font-size: 17px;
	color: white;
}

.posters ul{
	list-style-type: none;
	padding-top: 20px;

}

.posters li{
	display: inline;
	padding: 15px;
		
}


.poster1 {
	box-shadow: 5px 5px 5px black;
	border-radius: 5px;
}

.poster2{
	box-shadow: 5px 5px 5px black;
	border-radius: 5px;
}

.poster3 {
	box-shadow: 5px 5px 5px black;
	border-radius: 5px;
}


.webdev {
	font-family: sans-serif;
	/*background-color: #3B3D3A;*/
/* 	width: 80%; */
	margin-left: 30px;
	border-radius: 10px;
	padding-bottom: -20px;
	margin-top: 90px;
	
}

.webdev h6 {
	margin-left: 55px;
	padding: 10;
	margin-top: 60px;
	text-decoration: underline;
	padding-top: 50px;
	font-size: 17px;
	color: white;
}

.webdev ul{
	list-style-type: none;
	padding-top: 20px;
	

}

.webdev li {
	display: inline;
	padding: 15px;
		
}

.capstone {
	box-shadow: 5px 5px 5px black;
	border-radius: 5px;
}

.webdev1 {
	box-shadow: 5px 5px 5px black;
	border-radius: 5px;

	
}

.webdev2 {
	box-shadow: 5px 5px 5px black;
	border-radius: 5px;
	relative;
}

.webdev3 {
	box-shadow: 5px 5px 5px black;
	border-radius: 5px;
	
}

.webdev4 {
	box-shadow: 5px 5px 5px black;
	border-radius: 5px;
}

.webdev5 {
	box-shadow: 5px 5px 5px black;
	border-radius: 5px;
}

.webdev6 {
	box-shadow: 5px 5px 5px black;
	border-radius: 5px;
	margin-top: 60px;
}

.webdev7 {
	box-shadow: 5px 5px 5px black;
	border-radius: 5px;
	margin-top: 60px;
}



#contactme {
	background-color: #85EFF2;
	font-size: 14px;
	width: 30%;
	margin-left: 465px;
	text-align: center;
	padding: 25px;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 10px;
	color: #0D0C0C;
	margin-top: 80px;

}	

.phone {
	position: relative;
	text-align: center;
	margin-left: 22px;
}

.email {
	position: relative;
	text-align: center;
	margin-left: 35px;
}

.logo {
	margin-left: 190px;
	margin-top: -100px;
	height: 70px;
	border: 2px solid gray;
}


.etsy {

	margin-left: 470px;
	
	margin-top: 30px;
	text-align: center;
	color: #495357;
	padding: 10px;
	border-radius: 5px;

}

.aboutme {
	background-color: #85EFF2;
	font-size: 16px;
	width: 50%;
	margin-left: 315px;
	padding: 35px;
	line-height: 120%
	box-shadow: 10px 10px 5px #888888;
	border-radius: 10px;
	color: #0D0C0C;
	margin-top: -200px;

}

p.aboutme {
	line-height: 170%
}


.photography {
	background-color: #85EFF2;
	font-size: 16px;
	width: 50%;
	margin-left: 315px;
	padding: 35px;
	line-height: 120%
	box-shadow: 10px 10px 5px #888888;
	border-radius: 10px;
	color: #0D0C0C;
	margin-top: -200px;

}


.checkitout {
	margin-left: 800px;
	margin-top: 80px;
	
	width: 20%;
	text-align: center;
	padding: 10px;
	color: white;
	font-size: 20px;
	border: 2px dotted white;
	border-radius: 5px;

}


.myemail {
	text-decoration: none;

}


#social {
	margin: 60px;
	margin-left: 180px;
	padding: 20px;
	width: 20%;
	
}

.menu-trigger {
	display: none;

}


accepted
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1824px)
and (max-device-width : 2400px{
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px)
and (max-device-width : 2000px) {

}

/* iPhone 4 ----------- */
@media only screen
and (-webkit-min-device-pixel-ratio : 1.5),
and (min-device-pixel-ratio : 1.5) {
/* Styles */
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }








